<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="UTF-8">
 <title>My Website - About</title>
</head>
<body>
 <h1>Rianna Pearson</h1>
 <p>I really like pigs, specifically miniature ones. Every once in a 
    while I have a midlife crisis even though I am currently only 22 years old.
    I really like food, my dream is to open a the greatest, most heartstopping (lie it will
    give you a heart attack) BBQ restaurant, I would serve everything from ribs, briskets, 
    sausages - and now I'm hungry. Also, World Peace. 
  </p>
</body>
</html>